$primary-color: #192140;
$secondary-color: #DCF10D;
$active-color: #0266FF;
$default-color: #9D9DB5;
$white-color: #ffffff;
$light-gray-color: #f5f5f5;


$font-weight-bold: 700;
$font-weight-regular: 500;